{% extends "layout.html" %}

{% block body %}

<h3>Haqqımızda</h3>
<hr>

<p>
Azərbaycan Respublikasının Dövlət Təhlükəsizliyi Xidməti Azərbaycan Respublikasının Prezidenti İlham Əliyevin 14 dekabr 2015-ci il tarixli 706 nömrəli Fərmanı ilə Azərbaycan Respublikasının Milli Təhlükəsizlik Nazirliyinin əsasında yaradılmışdır.
Azərbaycan Respublikasının Dövlət Təhlükəsizliyi Xidmətinin fəaliyyətinin hüquqi əsasını Azərbaycan Respublikasının Konstitusiyası, "Milli təhlükəsizlik haqqında", "Kəşfiyyat və əks-kəşfiyyat fəaliyyəti haqqında", "Əməliyyat-axtarış fəaliyyəti haqqında", "Dövlət sirri haqqında", "Terrorçuluğa qarşı mübarizə haqqında" Azərbaycan Respublikasının qanunları və digər qanunvericilik aktları, Azərbaycan Respublikasının Dövlət Təhlükəsizliyi Xidmətinin Əsasnaməsi, Azərbaycan Respublikası Prezidentinin fərman və sərəncamları, Azərbaycan Respublikası Nazirlər Kabinetinin qərar və sərəncamları, fəaliyyətə aid qanunvericiliyə əsasən qəbul olunmuş mərkəzi icra hakimiyyəti orqanlarının normativ hüquqi aktları, habelə Azərbaycan Respublikasının qanunları çərçivəsində Azərbaycan Respublikası tərəfindən bağlanmış beynəlxalq müqavilələr təşkil edir.

Bu fəaliyyət insan və vətəndaş hüquq və azadlıqlarına riayət olunması, humanizm, dövlət və cəmiyyət qarşısında cavabdehlik prinsiplərinə əməl olunması ilə həyata keçirilir.
<p>

{% endblock body %}